body {
  margin: 0;
  background: transparent;
  font-family: Arial, sans-serif;
}

.overlay {
  width: 320px;
  height: 340px;
  background: rgba(0,0,0,0.7);
  border-radius: 18px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.4s ease;
}

/* TOP */
#brandName {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

#memberTag {
  font-size: 14px;
  text-align: center;
  color: #ff2bd6;
  margin-top: 2px;
}

/* CENTER QR */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#qrcode {
  padding: 10px;
  border-radius: 14px;
  background: rgba(255,255,255,0.05);
}

/* BOTTOM LABEL */
#qrLabel {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
}
